.rootElement {
  width: 100% !important;
  display: block;
  position: relative;
}

.container {
  margin: 0 auto;
  padding: 10px;
  font-size: 14px;
  color: #333;
  font-family: arial, sans-serif;
}

@keyframes fadein{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 40%;
    }
  }

@keyframes fadeOut{
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%
  }
}

.overlay {
  animation: fadein 1s;
  background: black;
  height: 100%;
  opacity: 0.4;
  width: 100%;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.fadeOut {
  animation: fadeOut 1s;
}

.adContent {
  padding: 10px;
  margin: 10px auto;
  position: relative;
  z-index: 9999;
  width: 100%;
  background: white;
}

.messageBox {
  position: relative;
  background: white;
  color: gray;
  text-align: center;
  z-index: 9999;
  padding: 15px;
  width: 120px;
}

.arrowBox {
  position: absolute;
  background: #fff;
  border: 4px solid #ebeced;
  z-index: 9999;
  width: 220px;
  padding: 15px;
  margin-top: 4px;
  left: 19%;
  border-radius: 4px;
  border-color: rgba(#ebeced, 0.3)
}

.arrowBox:after, .arrowBox:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrowBox:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 5px;
  margin-left: -5px;
}
.arrowBox:before {
  border-color: rgba(235, 236, 237, 0);
  border-bottom-color: #ebeced;
  border-width: 11px;
  margin-left: -11px;
}

.buttonDemo {
  margin: 5px auto;
  background-color: royalblue;
  cursor: pointer;
  border: 1px solid #ebeced;
  padding: 5px;
  width: 100%;
  display: block;
  line-height: normal;
  color: white;
  border-radius: 4px;
  will-change: background;
  transition: 0.2s ease-out;
  transition: background 0.2s ease-out;
}

.buttonDemo:hover {
  will-change: background;
  transition: background 0.2s ease-in;
  background-color: midnightblue;
}


@keyframes slideIn{
  0% {
    right: -200px;
  }
  100% {
    right: 10px;
  }
}

@keyframes slideOut{
  0% {
    right: 10px;
  }
  100% {
    right: -200px;
  }
}

.m1Container {
  box-shadow: 0px -1px 56px 1px rgba(186,186,186,0.56);
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  width: 320px;
  height: 130px;
  position: fixed;
  top: 200px;
  z-index: 9999999;
  border: 1px solid #ebeced;
  border-radius: 4px;
  right: 10px;
  padding: 10px 5px;
  background-color: white;
}

.m1Content {
  padding: 10px 5px;
  opacity: 1;
}

.showM1Content {
  will-change: position;
  animation: slideIn 1s ease;
}

.hideM1Content {
  right: -200px;
  will-change: position;
  animation: slideOut 1s ease;
}
